<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>PATHOS-II SHOP</title>

    <link rel="stylesheet" href="../style.css" type="text/css" />
</head>

<body>

<div class="page" id="catalogue">
    <div class="shop-menu">
        <table id="shop-catalogue">

            <tr>
                <th>ITEM</th>
                <th>MANUFACTURER</th>
                <th class="price">UNIT PRICE</th>
            </tr>

            <tr>
                <td>Omnitool</td>
                <td>Haimatsu Technologies</td>
                <td class="price">$ 100.00</td>

            <tr>
                <td>ZA-X2 Experimental Module</td>
                <td>Haimatsu Technologies</td>
                <td class="price">$ 1,000.00</td>
            </tr>

            <tr>
                <td>Ductile Suit</td>
                <td>Haimatsu Technologies</td>
                <td class="price">$ 10,000.00</td>
            </tr>

            <tr>
                <td>Power Suit</td>
                <td>Haimatsu Technologies</td>
                <td class="price">$ 12,000.00</td>
            </tr>

            <tr>
                <td>Energy Pal S.3 Battery Pack</td>
                <td>Haimatsu Technologies</td>
                <td class="price">$ 200.00</td>
            </tr>

            <tr>
                <td>In-Ground Station Terminal</td>
                <td>Haimatsu Technologies</td>
                <td class="price">$ 20,000.00</td>
            </tr>

            <tr>
                <td>Standard Field Tablet (7x5")</td>
                <td>Haimatsu Technologies</td>
                <td class="price">$ 200.00</td>
            </tr>

            <tr>
                <td>Structure Gel (1L)</td>
                <td>Carthage Industries</td>
                <td class="price">$ 150.00</td>
            </tr>

            <tr>
                <td>Structure Gel (5L)</td>
                <td>Carthage Industries</td>
                <td class="price">$ 600.00</td>
            </tr>

            <tr>
                <td>CCRV-7 Blackbox</td>
                <td>Carthage Industries</td>
                <td class="price">$ 4,000.00</td>
            </tr>

        </table>

        <div class="cart-buttons">
            <button class="add-to-cart" id="h-omnitool">add to cart</button>
            <button class="add-to-cart" id="h-ark">add to cart</button>
            <button class="add-to-cart" id="h-dive-suit">add to cart</button>
            <button class="add-to-cart" id="h-power-suit">add to cart</button>
            <button class="add-to-cart" id="h-battery-pack">add to cart</button>
            <button class="add-to-cart" id="h-terminal">add to cart</button>
            <button class="add-to-cart" id="h-tablet">add to cart</button>
            <button class="add-to-cart" id="c-gel-1">add to cart</button>
            <button class="add-to-cart" id="c-gel-5">add to cart</button>
            <button class="add-to-cart" id="c-blackbox">add to cart</button>
        </div>

    </div>
    
    <button id="view-cart">view cart</button>

</div>

<div class="page" id="user-cart">
    <table id="user-cart-table">
        
        <tr>
            <th>ITEM</th>
            <th>MANUFACTURER</th>
            <th class="price">UNIT PRICE</th>
        </tr>

    </table>

    <button id="checkout">checkout</button>

</div>

<div class="page" id="complete">
    <h3>Transaction complete</h3>
    <button class="home-button">home</button>
</div>

    <script src="cart-script.js"></script>
</body>
</html>